p, h2 {
    font-family: 'Courier New', Courier, monospace;
}

html {
    box-sizing: border-box;
    padding: 4% 12% 0;
}

body {
    margin: 0;
}

header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

header a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0 13%;
    display: inline-block;
}

a:hover {
    color: blue;
}

.carousel-container {
    margin: 20px auto;
    max-width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: 100%;
    justify-content: center; /* Center the child elements horizontally */
}

.slide {
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

.project-details {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
}

footer {
    margin-top: 4%;
    text-transform: capitalize;
}

.carousel-btn {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
}

.carousel-btn:hover {
color: blue;}

#prevBtn,
#nextBtn {
    margin: 0 10px; /* Adjust the margin as needed */
}

button {
    border: white solid 1px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0%;
}

.text-box {
    margin-top: 20px;
    text-align: center;
}

#slideText {
    font-size: 1.2rem;
    color: #333;
    margin: 2% 17%;
    padding: 10px;
    background-color: #f4f4f4;
    min-width: 300px;
}

section .slide {
    height: fit-content;
}

/* Responsive media query for smaller screens */
@media (max-width: 768px) {
    html {
        padding: 4% 6%;
    }

    header a {
        padding: 0 5%;
    }

    #prevBtn,
    #nextBtn {
        margin: 0 5px; /* Adjust the margin as needed */
    }

    .project-details {
        padding: 10px;
    }

    #slideText {
        margin: 2% 5%;
    }
}
